{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">r</span><span class="base09">o</span><span class="base0a">x</span><span class="base0b">x</span><span class="base0c">e</span><span class="base0d">r</span><span class="base0e">s</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  roxxers.xyz, home of Roxie and some of the things she says.
</div>
